/* CSS for fligh.css */

/* Main heading */
.flightca {
    margin-top: 150px;
    color: #b3965a;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    animation: fadeInLeft 2s ease forwards;
    font-size: 45px;
  }
  
  /* Description */
  .defligh {
    margin-top: 40px;
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin-left: 300px;
    animation: fadeInRight 2s ease forwards;
  }
  
  .mainflight {
    background-color: rgb(250, 246, 246);
  }
  
  /* Container for flight panels */
  .containerflight {
    animation: slideFromBottom 3s ease forwards;
    max-height: 600px;
    max-width: 1200px;
    min-height: 600px;
    min-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #c5d9e962;
    margin-bottom: 40px;
  }
  
  .panel-container {
    width: 30%; /* Adjust width of panel containers */
    margin: 20px; /* Add margin around panel containers */
  }
  
  .panelflight {
    height: 270px;
    width: 100%; /* Adjust panel width for responsiveness */
    max-width: 300px; /* Set maximum width for panels */
    position: relative;
  }
  
  .panelflight:hover .cardflight {
    filter: blur(1.5px);
  }
  
  .panelflight:hover .card1flight {
    background-size: 215% 135%;
    animation: slideFromBottom 3s ease forwards;
  }
  
  .panelflight:hover .card2flight {
    background-size: 115% 115%;
    animation: slideFromBottom 3s ease forwards;
  }
  
  .panelflight:hover .card3flight {
    background-size: 155% 115%;
    animation: slideFromBottom 3s ease forwards;
  }
  
  .panelflight:hover .lineflight {
    color: rgba(255, 255, 255, 0.2);
  }
  
  .panelflight:hover .borderflight {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  
  .panelflight:hover .slideflight {
    bottom: 0px;
    z-index: 2;
  }
  
  .panelflight:hover .ringflight:before,
  .panelflight:hover .ringflight:after {
    transform: translateX(-50%) translateY(-50%) rotate(310deg);
  }
  
  .ringflight,
  .cardflight,
  .borderflight,
  .slideflight,
  .lineflight {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ringflight {
    color: #fffbf1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 170px;
    z-index: 2;
  }
  
  .cardflight {
    background: #070706;
    position: relative;
    transition: all 1s;
    height: 270px;
    width: 190px;
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 0;
  }
  
  .card1flight {
    background-image: url("standart.jpg");
    background-repeat: no-repeat;
    background-size: 200% 120%;
  }
  
  .card2flight {
    background-image: url("commun.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .card3flight {
    background-image: url("MainRoom.jpg");
    background-repeat: no-repeat;
    background-size: 140% 100%;
  }
  
  .ringflight:before,
  .ringflight:after {
    content: "";
    padding: 0.7em 0.4em;
    position: absolute;
    left: 50%;
    width: 115%;
    top: 50%;
    display: block;
    border: 5px solid #50c9c3;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateX(-50%) translateY(-50%) rotate(50deg);
  }
  
  .defligh {
    margin-top: 20px;
    width: 700px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  .ringflight:before {
    border-color: rgb(172, 165, 165) rgb(235, 235, 235) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .ringflight:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(235, 235, 235) rgb(235, 235, 235);
  }
  
  .titleflight {
    font-size: 29px;
    color: #070706;
    transition: all 1s;
    top: 0;
  }
  
  .paraflight {
    bottom: 0;
    width: 300px;
    font-size: 20px;
    font-family: "Raleway";
    border: none;
    margin: 0;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
  }
  
  .paraflight a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .borderflight {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 260px;
    width: 180px;
    transition: border 1s;
    overflow: hidden;
  }
  
  .slideflight {
    height: 260px;
    width: 180px;
    position: absolute;
    bottom: -270px;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom 1s;
    flex-direction: column;
    z-index: 1;
  }
  
  @media (max-width: 1024px) {
    .containerflight{
       
            height: 100%;
            margin-bottom: 330px;
           }
    .defligh {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .containerflight {
      flex-direction: column;
      align-items: center;
    }
    .panel-container {
      width: 80%; /* Adjust width of panel containers */
      margin: 20px auto; /* Add margin around panel containers */
    }
  }
  
  @media (max-width: 768px) {
   .containerflight{
    
    height: 100%;
    margin-bottom: 330px;
   }
    .flightca {
      margin-top: 80px;
      font-size: 36px; /* Adjust font size for smaller screens */
    }
    .defligh {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .containerflight {
      flex-direction: column;
      align-items: center;
    }
    .panel-container {
      width: 90%; /* Adjust width of panel containers */
      margin: 20px auto; /* Add margin around panel containers */
    }
  }
  
  @media (max-width: 480px) {
    
    .flightca {
      margin-top: 60px;
      font-size: 28px; /* Adjust font size for smaller screens */
    }
    .defligh {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .containerflight {
      flex-direction: column;
      align-items: center;
    }
    .panel-container {
      width: 90%; /* Adjust width of panel containers */
      margin: 20px auto; /* Add margin around panel containers */
    }
  }
  