.video-container {
  max-width: 100%;
  height: auto;
  box-shadow: 30px 30px 30px 50px rgba(100, 100, 100, 10);  /* You can adjust the values according to your preference */
}

.video {
  object-fit: cover;
  background-color: transparent;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media (max-width: 700px) {
  .animate-charcter{
    font-size: 40px;
    margin-top: 200px;
  }
}